<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhy.mapper.StaffDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhy.dataobject.StaffDeptDO">
        <id column="id" property="id" />
        <result column="is_valid" property="valid" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="create_by" property="createBy" />
        <result column="gmt_modify" property="gmtModify" />
        <result column="modify_by" property="modifyBy" />
        <result column="name" property="name" />
        <result column="hod_id" property="hodId" />
        <result column="parent_id" property="parentId" />
        <result column="location" property="location" />
        <result column="view_flag" property="viewFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        is_valid,
        gmt_create,
        create_by,
        gmt_modify,
        modify_by,
        id, name, hod_id, parent_id, location, view_flag
    </sql>

</mapper>
